---
import Layout from '@/layouts/Layout.astro'
import UserDetails from '@/components/UserDetails.astro'

import { createClerkClient } from '@clerk/clerk-sdk-node'
const publishableKey = import.meta.env.PUBLIC_CLERK_PUBLISHABLE_KEY
const secretKey = import.meta.env.CLERK_SECRET_KEY

const request = Astro.request
const clerk = createClerkClient({ publishableKey, secretKey })
const { toAuth } = await clerk.authenticateRequest({ request, publishableKey, secretKey })
const auth = toAuth()
const user = await clerk.users.getUser(auth!.userId!)
---

<Layout>
  <div class="px-8 pt-6 pb-20 md:px-20">
    <div class="grid gap-4 mt-8 lg:grid-cols-3">
      <UserDetails user={user} />
    </div>
  </div>
</Layout>

<script>
  import { auth } from '../lib/authStore'
  
  auth.subscribe(($clerk) => {
    if ($clerk) {
      let organization = $clerk.organization
      $clerk.addListener((clerk) => {
        if (organization?.id !== clerk.organization?.id) {
          location.reload()
        }
      })
    }
  })
  </script>