---
---

<div data-auth-signed-out class="hidden">
  <slot />
</div>

<script>
  import { auth } from '../../lib/authStore'

  auth.subscribe((clerk) => {
    if (clerk !== null && clerk.isReady()) {
      const signedOut = document.querySelectorAll('[data-auth-signed-out]')!
      if (clerk.user === null) {
        signedOut.forEach(el => el.classList.remove('hidden'))
      } else {
        signedOut.forEach(el => el.classList.add('hidden'))
      }
    }
  })
</script>