---
import { Button } from "../ui/button";
const props = Astro.props
---

<Button data-auth-sign-in-button {...props}>
  <slot />
</Button>

<script>
  import { auth } from '../../lib/authStore'

  auth.subscribe((clerk) => {
    if (clerk !== null && clerk.isReady()) {
      const signInButton = document.querySelectorAll('[data-auth-sign-in-button]')
      if (signInButton) {
        signInButton.forEach(btn => btn.addEventListener('click', () => {
          clerk.openSignIn({
            afterSignInUrl: '/dashboard',
            afterSignUpUrl: '/dashboard',
          })
        }))
      }
    }
  })
</script>